
traceback.txt
log.txt
errors.txt
game/.vscode/settings.json
game/cache/bytecode.rpyb
game/cache/py3analysis.rpyb
game/cache/shaders.txt
errors.txt
game/.vscode/settings.json
game/cache/bytecode.rpyb
game/cache/py3analysis.rpyb
game/cache/screens.rpyb
game/cache/shaders.txt
game/gui/fonts/text/qilka-font/info.txt
game/gui/fonts/text/rainbow-cupcake-font/info.txt
game/gui/fonts/text/rainbow-cupcake-font/misc/read me .txt
game/saves/_reload-2-LT1.save
game/saves/auto-1-LT1.save
game/saves/auto-10-LT1.save
game/saves/auto-2-LT1.save
game/saves/auto-3-LT1.save
game/saves/auto-4-LT1.save
game/saves/auto-5-LT1.save
game/saves/auto-6-LT1.save
game/saves/auto-7-LT1.save
game/saves/auto-8-LT1.save
game/saves/auto-9-LT1.save
game/saves/navigation.json
game/saves/persistent
traceback.txt
